[submodule "lenore-platform"]
	path = lenore-platform
	url = https://github.com/lenore-engine/lenore-platform.git
[submodule "lenore-gpu"]
	path = lenore-gpu
	url = https://github.com/lenore-engine/lenore-gpu.git
[submodule "lenore-resources"]
	path = lenore-resources
	url = https://github.com/lenore-engine/lenore-resources.git
[submodule "lenore-gltf"]
	path = lenore-gltf
	url = https://github.com/lenore-engine/lenore-gltf.git
[submodule "lenore-scene"]
	path = lenore-scene
	url = https://github.com/lenore-engine/lenore-scene.git
[submodule "lenore-ktx"]
	path = lenore-ktx
	url = https://github.com/lenore-engine/lenore-ktx.git
[submodule "lenore-imui"]
	path = lenore-imui
	url = https://github.com/lenore-engine/lenore-imui.git
[submodule "lenore-text"]
	path = lenore-text
	url = https://github.com/lenore-engine/lenore-text.git
